*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.wrapper{
    
}

.header-tab{
    height: 50px;
    background-color: #ffcbbd ;
    display: flex;
    flex-wrap: wrap; /* cho phep nam tren cung mot hang du cho container thay doi*/
    justify-content: space-around;
}

#logo{
    width: 50px;
    height: 46px;
}

.navbar-list{
    margin: 4px 0px 0px;
}

.navbar-item, .navbar-items, .navbar-icon-link{
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-weight: 200;
    text-decoration: none;
}
.out{
    color: #000;
    margin-left: 30px;
}
h3{
    padding-top: 10px;
}
.text-logo{
    border: 1px solid #fff;
    border-radius: 50%;
}

.tab-container {
    width: 1300px;
    margin: 10px auto;
}
.tab-header {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.btn {
    position: relative;
    top: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
}

.btn:hover{
    cursor: pointer;
    background-color: #ececec;
}
.btn.active {
    border: 1px solid #ccc;
    border-bottom-color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #f8c4b1;
}

 
.tab-body {
    padding: 0.5rem 1rem;
}
    
.tab-content {
    display: none;
}
    
.tab-content.active {
    display: block;
}

.tabl{
    width: 95%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-collapse: collapse;
}

tr{
    width: 100%;
    border: 1px solid #000;
    /* border-collapse: collapse; */
}

th{
    height: 40px;
}
.col-9{
    width: calc(100% / 9);
    border: 1px solid #000;
    /* border-collapse: collapse; */
}

.btn-add-product{
    float: right;
    width: 130px;
    height: 30px;
    margin: 0px 30px 10px 10px;
    background-color: #ffcbbd;
    border-radius: 5px;
}

.btn-add-product:hover{
    cursor: pointer;
    background-color: #bf2642;
    color: #fff;
}
